@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background-color: #85FFBD; */
    background-image: linear-gradient(45deg, #85FFBD 0%, #9bff7d 100%);
    overflow-x: hidden;
    transition: 1s;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-bottom: black 1px solid; */
    background-image: linear-gradient(45deg, #85FFBD 0%, #9bff7d 100%);
    opacity: 0.8;
    z-index: 2;
    padding: 20px;
    box-shadow: -10px -7px 10px 10px black;
}
nav h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: rgb(23, 3, 41);
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    display: none;
}
.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(23, 3, 41);
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    transition: 0.1s;
}
.nav-links a:hover {
    border-bottom: 3px solid black;
    border-radius: 10px;
    line-height: 40px;
}
.herosection {
    /* border: 1px solid black; */
    background-image: url(image/background.png);
    background-size: cover;
    position: relative;
    left: 0;
    /* top: 90px; */
    width: 100vw;
    height: 70vh;
    padding-top: 150px;
    /* background-color: aqua; */
}
.content-hero {
    /* margin-top: 200px; */
    width: 100vw;
    text-align: center;
    height: 50vh;
}
.content-hero h1 {
    font-size: 80px;
    font-family: 'Acme', sans-serif;
    color: rgb(23, 3, 41);
    margin-bottom: -20px;
}

.content-hero p {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(60, 47, 68);
    margin-top: 20px;
}
.content-hero button {
    margin-top: 25px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #85FFBD;
    /* color: rgb(145, 140, 140); */
    color: rgb(23, 3, 41);
    transition: 0.5s;
}
.content-hero button:hover {
    transform: translate(10px,-10px);
    box-shadow: -10px 10px 10px 1px gray;
}
.wrap-container {
    display: none;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
}
.how-we-work {
    /* margin-top: -30px; */
    background-image: url(image/bg3.0.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.txt-work {
    /* border: 1px solid black; */
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: skew(5deg); */
    & h2 {
        font-family: 'Acme', sans-serif;
        text-align: center;
        line-height: 50px;
        font-weight: lighter;
        color: rgb(23, 3, 41);
    }
}
.phone-img {
    margin-left: -60px;
    margin-top: -50px;
    /* border: 1px solid black; */
    height: 500px;
    width: 100vw;
    background-image: url(image/phonedesign.png);
    background-size: cover;
}
.form {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-left: 125px;

    & .firstname,.lastname,.email,.password {
        border: 1.5px solid rgb(146, 146, 146);
        padding: 10px;
        width: 170px;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: 'Agbalumo', sans-serif;
        font-size: 13px;
        background-color: #9bff7d;
        transition: 0.5s;
        cursor: pointer;
        color: rgb(23, 3, 41);
    }
    & div:hover {
        box-shadow: 0px 10px 10px 1px black;
    }
    & .button {
        margin: auto;
        padding: 5px;
        /* border: 1px solid black; */
        text-align: center;
        width: 120px;
        border-radius: 10px;
        font-family: 'Agbalumo', sans-serif;
        background-color: #85FFBD;
        cursor: pointer;
        box-shadow: 0px 10px 10px 1px black;
        font-size: 14px;
        color: rgb(23, 3, 41);
    }
    & label {
        display: none;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: bold;
        color: rgb(23, 3, 41);
    }
}
.we-do {
    border: 1px solid black;
    width: max-content;
    height: 100vh;
}
@media (min-width:768px) {
    .nav-links{
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .herosection{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 691.2px;
    }
    .content-hero {
        width: 50vw;
        margin-top: 0px;
        /* margin-top: -270px; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 600px;
    }
    .image-hero {
        /* margin-top: -250px; */
        width: 50vw;
        height: 550px;
        /* border: 1px solid black; */
        background-image: url(image/pexels-sound-on-3756858-removebg-preview.png);
        background-repeat: no-repeat;
    }
    .content-hero h1 {
        margin-bottom: -100px;
        font-size: 120px;
    }
    .content-hero button {
        margin-top: -100px;
    }
    .how-we-work {
        display: grid;
        align-items: center;
        justify-content: center;
        /* margin-top: -300px; */
    }
    .txt-work {
        /* border: 1px solid black; */
        width: 80vw;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* transform: skew(5deg); */
        & h2 {
            font-family: 'Acme', sans-serif;
            text-align: center;
            line-height: 50px;
            font-weight: lighter;
        }
    }
    .phone-img {
        margin-top: -150px;
        /* border: 1px solid black; */
        height: 650px;
        width: 80vw;
        background-image: url(image/phonedesign.png);
        background-size: cover;
    }
    .form {
        /* border: 1px solid black; */
        border-radius: 10px;
        width: 250px;
        height: 500px;
        margin: auto;
        margin-top: 100px;
        margin-left: 200px;

        & .firstname,.lastname,.email,.password {
            border: 1.5px solid rgb(146, 146, 146);
            padding: 10px;
            width: 220px;
            margin: auto;
            border-radius: 5px;
            margin-bottom: 20px;
            font-family: 'Agbalumo', sans-serif;
            font-size: 18px;
            background-color: #9bff7d;
            transition: 0.5s;
            cursor: pointer;
        }
        & div:hover {
            box-shadow: 0px 10px 10px 1px black;
        }
        & .button {
            margin: auto;
            padding: 10px;
            /* border: 1px solid black; */
            text-align: center;
            width: 120px;
            border-radius: 10px;
            font-family: 'Agbalumo', sans-serif;
            background-color: #85FFBD;
            cursor: pointer;
            box-shadow: 0px 10px 10px 1px black;
        }
        & label {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-transform: capitalize;
            font-weight: bold;
            display: block;
        }
    }
}

@media (min-width:1024px) {
    .herosection{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 691.2px;    
        overflow: hidden;
    }
    .content-hero  {
        height: 500px;
        margin-top: 90px;
        /* border: 1px solid black; */
        /* margin-left: 100px; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* height: 700px; */
    }
    .image-hero {
        margin-top: 120px;
        width: 50vw;
        height: 700px;
        margin-right: -150px;
        /* border: 1px solid black; */
        background-image: url(image/pexels-sound-on-3756858-removebg-preview.png);
        /* border: 1px solid black; */
        background-repeat: no-repeat;
    }
    .image-hero h1{
        margin-bottom: -100px;
    }
    .how-we-work {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .txt-work {
        /* border: 1px solid black; */
        width: 603px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* transform: skew(5deg); */
        & h2 {
            font-family: 'Acme', sans-serif;
            text-align: center;
            line-height: 50px;
            font-weight: lighter;
        }
    }
    .phone-img {
        /* border: 1px solid black; */
        margin-top: 0px;
        height: 650px;
        width: 700px;
        background-image: url(image/phonedesign.png);
        background-size: cover;
    }
    .form {
        /* border: 1px solid black; */
        border-radius: 10px;
        width: 250px;
        height: 500px;
        margin: auto;
        margin-top: 100px;
        margin-left: 200px;

        & .firstname,.lastname,.email,.password {
            border: 1.5px solid rgb(146, 146, 146);
            padding: 10px;
            width: 220px;
            margin: auto;
            border-radius: 5px;
            margin-bottom: 20px;
            font-family: 'Agbalumo', sans-serif;
            font-size: 18px;
            background-color: #9bff7d;
            transition: 0.5s;
            cursor: pointer;
        }
        & div:hover {
            box-shadow: 0px 10px 10px 1px black;
        }
        & .button {
            margin: auto;
            padding: 10px;
            /* border: 1px solid black; */
            text-align: center;
            width: 120px;
            border-radius: 10px;
            font-family: 'Agbalumo', sans-serif;
            background-color: #85FFBD;
            cursor: pointer;
            box-shadow: 0px 10px 10px 1px black;
        }
        & label {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
}
@media (width: 1280px) {
    .form {
        margin-left: 215px;
    }
}
@media (min-width: 1300px) {
    .form {
        margin-left: 223px;
    }
}
@media (width: 912px) {
    .phone-img {
        margin-top: -400px;
        height: 700px;
    }
    .form {
        margin-left: 235px;
    }
}
@media (width: 280px) {
    .phone-img {
        display: none;
    }
}
@media (width: 540px) {
    .phone-img {
        /* border: 1px solid black; */
        margin-left: 0px;
    }
    .form {
        margin-left: 145px;
    }
}